{% extends 'base.html.twig' %}

{% block title %}Hello ApprovalController!{% endblock %}

{% block body %}
        <section class="container mt-5 approval">
                <div class="row">
                    <div class="col-xl-12">
                            <h1 class="text-center">Příspěvky ke schválení</h1>
                    </div>
                    <div class="row row-cols-1 row-cols-lg-3 g-4 px-6">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th scope="col" class="p-3 px-4">#</th>
                                <th scope="col" class="p-3 px-5">Název příspěvku</th>
                                <th scope="col" class="p-3 px-5">Autor</th>
                                <th scope="col" class="p-3 px-5">Datum vytvoření</th>
                                <th scope="col" class="p-3 px-5">Štítky</th>
                                <th scope="col" class="p-3 px-5">Akce</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                    <tr class="text-center">
                                        <th class="p-3 px-4" scope="row">{{ post.id }}</th>
                                        <td class="p-3 px-5 fw-bolder">{{ post.title }}</td>
                                        <td class="p-3 px-5 fw-bolder">{{ post.author.username }}</td>
                                        <td class="p-3 px-5 fw-bolder">{{ post.createdAt|date("d/m/Y") }}</td>
                                        <td class="p-3 px-5 fw-bolder">{% for tag in post.tags %} {{ tag }}{% endfor %}</td>
                                        <td class="p-3 px-5 fw-bolder">
                                            <a class="btn btn-primary" href="{{ path('approval_view_post', {'post': post.id}) }}">Zobrazit</a>
                                            <a class="btn btn-success" href="{{ path('approval_post', {'post': post.id}) }}">Schválit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="text-center">
                                        <td colspan="6" class="text-danger fw-bolder h5 p-4">Ke schválení nejsou žádné příspěvky.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </section>
{% endblock %}
