<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bootstrap/scss/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/custom/main.css') }}">
        <script src="https://cdn.tiny.cloud/1/q3b4c9zmkj2omouzz5sqjjxl51w7ofrbuhnxx6rwusf5q3f5/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    {% endblock %}
    <title>{% block title %}Blog{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-navbar p-3 mb-3 shadow">
    <div class="container">
        <a href="{{ path('app_homepage') }}" class="navbar-brand mb-2 mb-lg-0">
            <img src="{{ asset('images/logo.png') }}" alt="" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a href="{{ path('post_index') }}" class="nav-link px-3 link-dark fw-bold">Články</a></li>
                <li><a href="{{ path('user_index') }}" class="nav-link px-3 link-dark fw-bold">Uživatelé</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('approval') }}" class="nav-link px-3 link-dark fw-bold">Administrace</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-0 d-inline text-light" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ asset('images/avatars/av.jpg') }}" alt="" height="35" class="ms-3 rounded-circle d-inline">
                            <span class="nav-link ps-2 pe-0 link-light fw-bolder pt-1 d-inline">{{ app.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu ms-3 mt-2 bg-light shadow">
                            <li><a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id}) }}">Profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('user_edit', {'id': app.user.id}) }}">Upravit profil</a></li>
                            <hr class="my-1">
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Odhlásit se</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link px-3 link-dark fw-bold">Přihlásit se</a></li>
                    <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link px-3 link-dark fw-bold">Registrovat se</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>

