{% extends 'base.html.twig' %}

{% block body %}
    <section class="container mt-5">
        <div class="row">
            <div class="col-xl-12">
                <h1 class="text-center">Příspěvky</h1>
            </div>
            <div class="row row-cols-auto g-4 ms-0 mt-3 mb-0 filter-tags">
                <div class="col bg-danger">
                    <span>FILTER BY<span class="ms-2 fa fa-tag"></span></span>
                </div>
                {% for tag in tags %}
                    <label class="col tag px-0 ms-2">
                        <input type="checkbox" class="d-none">
                        <span class="btn px-2 py-0 align-baseline">{{ tag }}</span>
                    </label>
                {% endfor %}
            </div>
            <div class="row row-cols-1 row-cols-lg-3 g-4 pe-0">
                {% for post in posts %}
                <div class="col">
                    <div class="card h-100 shadow">
                        <div class="card-img position-relative">
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ include('post/_delete_form.html.twig') }}
                            {% endif %}
                            {% if app.user.id|default(0) == post.author.id or is_granted('ROLE_ADMIN') %}
                                <a class="position-absolute ms-5" href="{{ path('post_edit', {'id': post.id}) }}"><span class="fa fa-edit text-primary"></span></a>
                            {% endif %}
                            <div class="position-absolute bottom-0 end-0 mb-2 me-2 card-tag">
                                {% for tag in post.getTags %}
                                    {{ tag.name }}
                                {% endfor %}
                            </div>
                            <img src="{{ asset('/upload/images/'~post.image) }}" class="card-img-top" alt="post-image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <div class="d-flex justify-content-between">
                                <p class="card-author d-inline ms-2">{{ post.author.username }}</p>
                                <p class="card-date d-inline ms-2">{{ post.createdAt|date("d/m/Y") }}</p>
                                <!--<p class="card-views d-inline ms-2">500</p>-->
                            </div>
                            <p class="card-text">{{ post.content|striptags }}</p>
                        </div>
                        <div class="card-footer">
                            <a class="text-decoration-none card-link" href="{{ path('post_show', {'id': post.id}) }}">Přečti si více</a>
                        </div>
                    </div>
                </div>
                {% else %}
            </div>
            <div class="col-xl-12 text-center mt-5">
                <p class="h4 text-danger fw-bold">Zatím nejsou uveřejněny žádné příspěvky</p>
            </div>
            {% endfor %}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center mt-4">
            <a class="btn btn-primary" href="{{ path('post_new') }}">Vytvořit příspěvek</a>
        </div>
        {% endif %}
    </section>
{% endblock %}
