{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <section class="container mt-5 approval">
        <div class="col-8 mx-auto">
            <div class="col-xl-12">
                <img src="{{ asset('/upload/images/'~post.image) }}" alt="Image" class="mx-auto d-block">
            </div>
            <div class="col-xl-12 text-center mt-3">
                <h1 class="text-center mt-5">{{ post.title }}</h1>
                <div class="row px-5">
                    {{ post.content|raw }}
                </div>
                <p class="text-center text-muted mt-5" style="font-size: 20px; font-family: 'Lora', serif;">
                    <i>by</i>
                    <a class="text-decoration-none text-dark" href="{{ path('user_show', {'id': post.author.id}) }}">{{ post.author.username }}</a>
                    <span class="date">| {{ post.createdAt|date('d.m.Y') }}</span>
                </p>
                <div class="row row-cols-1 row-cols-lg-auto g-4 ms-0 mt-3 mb-0 px-6 filter-tags px-5">
                    <div class="col bg-danger">
                        <span>TAGS<span class="ms-2 fa fa-tag"></span></span>
                    </div>
                    {% for tag in post.getTags %}
                        <span class="col tag px-0 ms-2">
                            <span class="btn px-2 py-0 align-baseline fw-bolder">{{ tag.name }}</span>
                         </span>
                    {% endfor %}
                </div>
                <hr class="mt-5">
            </div>
            <div class="mx-auto text-center mt-5">
                <a href="{{ path('post_index') }}" class="btn btn-primary p-2 px-3">Zpátky k článkům</a>
            </div>
        </div>
    </section>
{% endblock %}
