{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <section class="users container mt-5">
        <div class="row">
            <div class="col-xl-12">
                <h1 class="text-center">Uživatelé</h1>
            </div>
            <div class="col-xl-12 mx-auto overflow-auto table-responsive">
                <table class="table px-md-5 mt-5" id="users-show">
                    <thead>
                    <tr>
                        <th><span>Uživatel</span></th>
                        <th><span>Registrován</span></th>
                        {#  <th>Password</th> #}
                        <th><span>Email</span></th>
                        <th><span>Zaměření</span></th>
                        <th><span>Akce</span></th>
                    </tr>
                    </thead>
                    {% for user in users %}
                        <tr>
                            <td class="p-3">
                                <img width="50" class="float-start me-3" height="50" src="{{ asset('images/avatars/av.jpg') }}" alt="{{ user.username }}">
                                <span class="d-block mt-1 fw-bolder">{{ user.username }}</span>
                                <span class="d-block">
                                    {% for role in user.roles %}
                                        {% if role == 'ROLE_ADMIN' %}
                                            <span class="bg-danger p-1 rounded text-light fw-bolder">Admin</span>
                                        {% else %}
                                            <span class="bg-secondary p-1 rounded text-light fw-bolder">Hráč</span>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </td>
                            <td class="p-3">{{ user.createdAt|date("d/m/Y") }}</td>
                            {#   <td>{{ user.password }}</td> #}
                            <td class="p-3"> {{ user.email }}</td>
                            <td class="p-3"> {{ user.industry }}</td>
                            <td class="p-3">
                                <div class="d-flex align-items-center" style="column-gap: 10px;">
                                    <a href="{{ path('user_show', {'id': user.id}) }}"><span class='text-success fa fa-eye icon'></span></a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('user_edit', {'id': user.id}) }}"><span class='text-primary fa fa-edit icon'></span></a>
                                        {{ include('user/_delete_form.html.twig') }}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7"><p class="h5 text-center fw-bolder">Zatím není žádný registrovaný uživatel.</p></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-xl-12 text-center">
                <a style="padding: 10px 20px;" class="btn btn-primary" href="{{ path('user_new') }}">Vytvořit uživatele</a>
            </div>
        {% endif %}
    </section>

{% endblock %}
